@{
    var isLogged = Context.Session.Keys.Contains("user");
    var isAdmin = Context.Session.GetString("isAdmin");
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Smart-Garage - @ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="~/css/sidebar.css" type="text/css">
        <link rel="stylesheet" href="~/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
    
    @if (isLogged)
    {
        @if (isAdmin == "True")
        {
            <div class="wrapper">
                <!-- Sidebar Holder -->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Smart Garage</h3>
                    </div>

                    <ul class="list-unstyled components">

                        <li>
                            <a asp-controller="Admin_Visits" asp-action="Index">Visits</a>
                        </li>

                        <li>
                            <a asp-controller="Admin_Customers" asp-action="Index">Customers</a>
                        </li>

                        <li>
                            <a asp-controller="Admin_Vehicles" asp-action="Index">Vehicles</a>
                        </li>

                        <li>
                            <a asp-controller="Admin_Services" asp-action="Index">Services</a>
                        </li>

                        <li>
                            <a asp-controller="Admin_Mechanics" asp-action="Index">Mechanics</a>
                        </li>

                        <li>
                            <a class="nav-link" href="http://localhost:5068/swagger">Develor API</a>
                        </li>

                        <li>
                            <a asp-controller="Admin_Users" asp-action="LogOut">Log Out</a>
                        </li>

                    </ul>
                </nav>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <!-- Page Content Holder -->
                <div id="content">
                    <div class="container-fluid" style="margin-bottom:30px;">

                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>

                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        }
        else // isAdmin = false. This is the Private Parts
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <a class="navbar-brand" asp-controller="Customers_Visits" asp-action="Index">Smart-Garage</a>

                @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customers_Visits" asp-action="Index">Visits</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customers_Vehicles" asp-action="Index">Vehicles</a>
                        </li> 

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customers_Profile" asp-action="Index">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customers_ContactUs" asp-action="Index">Contact Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin_Users" asp-action="LogOut">Logout</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>

            <div>
                @RenderBody()
            </div>
        }
    }
    else // for Login View
    {
        <div>
            @RenderBody()
        </div>
    }

    <script src="~/js/logic.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI library -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


    <script type='text/javascript'
            src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>

    <script type='text/javascript'>
        function GetMap() {
            // Fetch latitude and longitude for the address using Bing Maps API
            var address = "София център, бул. „Княз Александър Дондуков\" 2";
            var geocodeUrl = "http://dev.virtualearth.net/REST/v1/Locations?query=" + encodeURIComponent(address) + "&key=AhNxNW_ofnsfGJtG6wZFAiwvnRSjr-fs7LjlU61CHkJ1eDeaK9vOYQZsLX57apXF";

            fetch(geocodeUrl)
                .then(response => response.json())
                .then(data => {
                    var location = data.resourceSets[0].resources[0].point.coordinates;
                    var latitude = location[0];
                    var longitude = location[1];

                    // Initialize the map with the retrieved location
                    var map = new Microsoft.Maps.Map('#myMap', {
                        credentials: 'AhNxNW_ofnsfGJtG6wZFAiwvnRSjr-fs7LjlU61CHkJ1eDeaK9vOYQZsLX57apXF',
                        center: new Microsoft.Maps.Location(latitude, longitude),
                        mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                        minZoom: 8,
                        maxZoom: 17
                    });

                    // Add a pushpin for the specified location
                    var pin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
                    map.entities.push(pin);

                    // Calculate bounding box for the locations
                    var rect = Microsoft.Maps.LocationRect.fromLocations([new Microsoft.Maps.Location(latitude, longitude)]);

                    // Set the map view to show the specified location with padding
                    map.setView({ bounds: rect, padding: 80 });
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
    </body>
</html>