@model VisitViewModel
@{
    ViewData["Title"] = "Add a new Visit";
    ViewData["Action"] = "Create";
    ViewData["Heading"] = "Add a new Visit";
    ViewData["IsReadOnly"] = true;
}

<div class="myForm">
    <partial name="_VisitForm" />
 </div>
