@{
    ViewData["Title"] = "Add a new Visit";
}
@model CreateVisitGetViewModel

<h2 style="margin-bottom:30px; margin-left:30px">Add a new Visit</h2>

<div class="myForm">
    <partial name="_VisitForm" />
 </div>

<button style="margin-top:20px" type="submit" value="SignUp" class="btn btn-primary">Add Visit</button>
