@model VisitViewModel

@{
    ViewData["Title"] = "Add Visit For a New Customer";
    ViewData["Action"] = "CreateVisitForNewCustomer";
    ViewData["Heading"] = "Add Visit For a New Customer";
    ViewData["IsReadOnly"] = false;
}

<div class="myForm">
    <partial name="_VisitForm" />
</div>