@{
    ViewData["Title"] = "Add a new Visit";
}
@model VisitViewModel

<h2 style="margin-bottom:30px; margin-left:30px">Add a new Visit</h2>

<div class="myForm">
    <partial name="_VisitForm" />
 </div>
