<style>
    .contact-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
</style>

<div style="margin-left:5%; margin-top:2%; margin-right:5%;">

    <h2 class="heading">Contact Us</h2>
    <p style="margin-left: 70px;">Have questions or inquiries? Reach out to us!</p>

    <div class="contact-section">

        <section>
            <div style="margin-left:30px;">

                <p style="margin-left: 40px;"><strong>The Smart-Garage Company</strong></p>

                <address style="display: flex; align-items: center; margin-left: 30px; margin-bottom:10px;">
                    <span class="material-symbols-outlined" style="margin-right: 10px; margin-left: 10px;">
                        home
                    </span>
                    <p style="margin: 0;">Address: &nbsp; 1000 Sofia 2 "Dondukov" Blvd</p>
                </address>

                <div style="display: flex; align-items: center; margin-left: 30px; margin-bottom:10px;">
                    <span class="material-symbols-outlined" style="margin-right: 10px; margin-left: 10px;">
                        mail
                    </span>
                    <p style="margin: 0;">Email: &nbsp; smart-garage@gmail.com</p>
                </div>

                <div style="display: flex; align-items: center; margin-left: 30px;">
                    <span class="material-symbols-outlined" style="margin-right: 10px; margin-left: 10px;">
                        call
                    </span>
                    <p style="margin: 0;">Phone: +359 123-456</p>
                </div>
            </div>
        </section>

        <div id="myMap" style="position:relative;width:600px;height:400px; margin-right: 5%; margin-top: -2%;"></div>
    </div>

</div>