body {
    overflow-x: hidden;
}

#sidebar {
    position: fixed; /* Fix the sidebar position */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    height: 100%; /* Take full height of the viewport */
    width: 250px; /* Set a fixed width for the sidebar */
    background: #32373d;
    color: #fff;
    z-index: 1000; /* Ensure it stays above other content */
    overflow-y: auto; /* Add vertical scrolling if needed */
}

    #sidebar .sidebar-header {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #sidebar ul li a {
        padding: 10px;
        padding-left: 10%;
        font-size: 1.25em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #32373d;
            background: #fff;
        }

#content {
    margin-left: 250px; /* Adjust content margin to account for fixed sidebar width */
    padding: 20px;
    margin-top:30px;
}

#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
